[env]
ENV_DIR = {source="${CARGO_MAKE_PROFILE}", default_value = "debug", mapping = {release = "release"}}
CARGO_TARGET_DIR = {value = "target", condition = {env_not_set = ["CARGO_TARGET_DIR"]}}
CARGO_WASM_PATH = "${CARGO_TARGET_DIR}/wasm32-unknown-unknown/${ENV_DIR}/${CARGO_MAKE_CRATE_NAME}.wasm"
CARGO_PROFILE = "dev"
TARGET_DIR = "target"
CARGO_MANIFEST_DIR = "${CARGO_MAKE_WORKING_DIRECTORY}"
PORT=4000

[env.release]
CARGO_RELEASE_ARGS = "--release"

[tasks.show-env]
command = "env"

[tasks.watch]
run_task = [
	{ name = "bindgen" },
]
watch = true

[tasks.build]
args = ["build", "--target", "wasm32-unknown-unknown", "@@split(CARGO_RELEASE_ARGS, )"]
command = "cargo"

[tasks.bindgen]
install_crate = {crate_name = "wasm-bindgen-cli", binary = "wasm-bindgen", test_arg="--help"}
args = ["--out-dir", "${TARGET_DIR}", "--out-name", "wasm", "--target", "web", "--no-typescript", "${CARGO_WASM_PATH}"]
command = "wasm-bindgen"
dependencies = ["build"]

[tasks.serve]
install_crate = {crate_name = "microserver", binary = "microserver", test_arg="--help"}
env = { "RUST_LOG" = "basic_http_serve=trace" }
command = "microserver"
args = ["--port", "${PORT}"]
dependencies = ["bindgen"]

[tasks.bundle-itch]
script = '''
rm -rf target/itch
mkdir -p target/itch/target
cp index-itch.html target/itch/index.html
cp -R assets target/itch/
cp target/wasm.js target/itch/target/
cp target/wasm_bg.wasm target/itch/target/
pushd target/itch
zip -r taipo-itch.zip *
popd
'''

[tasks.test]
disabled = true
